node-red/student.flow
[{"id":"236d624a.0173ee","type":"ibmiot in","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb??","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"IR Events From Candle - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":450,"y":280,"wires":[["6d7a411.63a25c"]]},{"id":"6d7a411.63a25c","type":"debug","z":"2a35a231.efc376","name":"Pings","active":false,"console":false,"complete":"payload","x":690,"y":280,"wires":[]},{"id":"afe6797a.08d16","type":"ibmiot in","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb30","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From Candle - adjust name","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":450,"y":220,"wires":[["bfc87c03.a879b8"]]},{"id":"bfc87c03.a879b8","type":"debug","z":"2a35a231.efc376","name":"Breaker","active":false,"console":false,"complete":"payload","x":700,"y":220,"wires":[]},{"id":"d2109d55.045818","type":"ibmiot in","z":"2a35a231.efc376","authentication":"boundService","apiKey":"7ee82c04.df5734","inputType":"evt","deviceId":"playbulb23","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR1 form  From Candle - adjust name ??","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":450,"y":480,"wires":[["d31b41f2.98d92","c55a45dd.4e7ad8"]]},{"id":"13ac1c04.cfdf24","type":"debug","z":"2a35a231.efc376","name":"","active":true,"console":"false","complete":"false","x":1270,"y":480,"wires":[]},{"id":"e8572933.7c9798","type":"function","z":"2a35a231.efc376","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["cd3d269.a5c4b58"]]},{"id":"d31b41f2.98d92","type":"switch","z":"2a35a231.efc376","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"broken","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":670,"y":480,"wires":[["19878d12.e6f9ab","e8c0c3a8.7e3ff"],["e8572933.7c9798"]]},{"id":"d385d141.b1d2c","type":"comment","z":"2a35a231.efc376","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":530,"y":160,"wires":[]},{"id":"7acb794.9a1f908","type":"function","z":"2a35a231.efc376","name":"Counter","func":"myc =  global.get(\"myc\")\n\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":740,"wires":[["c3575a39.42ebd","af2c2814.5dc5e8"]]},{"id":"938bfa98.ed6958","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #2","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":0,\n\"D\":1       ,\n\"E\":1,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":760,"wires":[[]]},{"id":"539dc05c.8f6af","type":"inject","z":"2a35a231.efc376","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":380,"y":740,"wires":[["7acb794.9a1f908"]]},{"id":"cd3d269.a5c4b58","type":"delay","z":"2a35a231.efc376","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1060,"y":480,"wires":[["13ac1c04.cfdf24","6950372d.e36868"]]},{"id":"e8c0c3a8.7e3ff","type":"function","z":"2a35a231.efc376","name":"Set TO RED ????","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["6950372d.e36868","13ac1c04.cfdf24"]]},{"id":"85848b8c.ad4c3","type":"comment","z":"2a35a231.efc376","name":"Extra with LCD display","info":"","x":400,"y":660,"wires":[]},{"id":"6950372d.e36868","type":"ibmiot out","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb23","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1270,"y":400,"wires":[]},{"id":"19878d12.e6f9ab","type":"function","z":"2a35a231.efc376","name":"Total","func":"allcounter =  global.get(\"allcounter\")\n//node.warn(\"allcounter = \"+allcounter)\nif( isNaN(allcounter) ||typeof allcounter === undefined)\n    allcounter=0;\n\nallcounter++;\nif(allcounter >10)\nallcounter=0;\nglobal.set(\"allcounter\",allcounter)\nmsg.payload=allcounter;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["18b4574c.263ff1"]]},{"id":"18b4574c.263ff1","type":"ui_gauge","z":"2a35a231.efc376","name":"","group":"26a606d1.9b310a","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":360,"wires":[]},{"id":"87e3da93.ecddd8","type":"comment","z":"2a35a231.efc376","name":"UseInterface /ui","info":"","x":880,"y":320,"wires":[]},{"id":"c3575a39.42ebd","type":"switch","z":"2a35a231.efc376","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":770,"y":740,"wires":[["75327c4e.143b3c"],[],["938bfa98.ed6958"],[]]},{"id":"75327c4e.143b3c","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #0","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":1\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":720,"wires":[[]]},{"id":"af2c2814.5dc5e8","type":"debug","z":"2a35a231.efc376","name":"Pings","active":false,"console":false,"complete":"payload","x":750,"y":680,"wires":[]},{"id":"c55a45dd.4e7ad8","type":"debug","z":"2a35a231.efc376","name":"Pings","active":true,"console":false,"complete":"payload","x":670,"y":540,"wires":[]},{"id":"7ee82c04.df5734","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"26a606d1.9b310a","type":"ui_group","z":"","name":"Bugalar Alarm","tab":"d2f5b212.d08618","disp":true,"width":"6"},{"id":"d2f5b212.d08618","type":"ui_tab","z":"","name":"BurglarAlarm","icon":"dashboard"}]
